  /* General reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /* header */
  header {
    background-color: black;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  
  a {
    text-decoration: none;
  }
  
  .container-header {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  .first-name {
    color: #00ffd0;
  }
  
  .links {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center; /* Center the links horizontally */
    font-size: 18px;
  }
  
  .links .link {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
  }
  
  .links .link:hover {
    font-weight:bolder;
    color: #00ffd0;
  }
  
  
  .link-active {
    color: #00ffd0;
    text-indent: 20px;
    font-weight:bolder;
  }
  
  .second-name {
    margin: 0;
  }
  .second-name:hover {
  color: #00ffd0;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
    .links {
      flex-direction: row; /* Ensure links are horizontal on smaller screens */
      justify-content: flex-start; /* Align links to the start */
      flex-wrap: wrap; /* Allow wrapping */
      width: 100%; /* Full width */
    }
    .link {
      margin-left: 0;
      margin-right: 10px; /* Space between links */
      margin-bottom: 10px;
    }
    .logo {
      font-size: 20px; /* Reduce logo size */
    }
    .link {
      font-size: 16px; /* Reduce link size */
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      font-size: 18px; /* Further reduce logo size */
    }
    .link {
      font-size: 14px; /* Further reduce link size */
    }
  }
  
  /* header */
  
  /* main */
  .background-image {
    width: 100%;
    height: 100vh;
    background-image: url('images/wp1.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 0;
  }
  
  .texts {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    color: white;
    z-index: 3;
    font-size: 25px;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .texts {
      font-size: 20px; /* Reduce text size */
    }
    .background-image {
      height: 300px;
    }
  }
  
  @media (max-width: 480px) {
    .texts {
      font-size: 24px; /* Further reduce text size */
    }
    .background-image {
      height: 639px;
    }
  }
  
  header, main, footer {
    width: 100%;
  }
  
  
  
  /* footer */
  .container-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .row-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col1-footer, .col2-footer {
    flex-basis: 45%;
  }
  
  .col1-footer h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .col1-footer p {
    font-size: 16px;
    color: #ccc;
  }
  
  .col2-footer h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .col2-footer p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .col2-footer i {
    margin-right: 10px;
    color: #fff;
  }
  
  .col1-footer a {
    color: #fff;
  }
  
  .col2-footer i:hover,
  .col1-footer a:hover {
    color: rgb(67, 215, 176);
  }
  
  .col2-footer .btn {
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .row-footer {
      flex-direction: column;
    }
    .col1-footer, .col2-footer {
      flex-basis: 100%;
    }
    .col1-footer h1 {
      font-size: 20px; /* Reduce footer heading size */
    }
    .col1-footer p,
    .col2-footer p,
    .col2-footer h5 {
      font-size: 14px; /* Reduce footer text size */
    }
  }
  
  @media (max-width: 480px) {
    .col1-footer h1 {
      font-size: 15px; 
    }
    .col1-footer p,
    .col2-footer p,
    .col2-footer h5 {
      font-size: 8px; 
    }
    .icons {
      font-size: 9px; 
    }
    .btns a {
      font-size: 10px; /* Reduce font size further */
      padding: 8px 15px; /* Reduce padding further */
    }
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    width: 100%;
    position: relative;
  }
  .learn-btn, .book-btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: rgb(67, 215, 176);
      color: white;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      font-size:18px;
          }
  
          .learn-btn:hover, .book-btn:hover {
              background-color: #0056b3;
          }